* {
    font-family: 'Courier New', Courier, monospace;
    outline: 0px solid red;
    box-sizing: border-box;
    font-size: 24px;
}

#intro {
    align-items: center;
}

.headshot {
    float: left;
    margin-right: 20px;
}

.info {
    margin: 0px;
    padding: 0px;
}

#aboutme {
    margin-top: 150px;
}
