* {
    /* border boxes for easier aligning */
    font-family: 'Courier New', Courier, monospace;
    outline: 1px solid red;
    box-sizing: border-box;

    font-size: 24px;
    text-decoration: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.name{
    font-size: 48px;
}

.headshot {
    float: left;
    margin: 16px;
}

.contact_info {
    padding: 48px;
}

.info {
    padding: 1px;
}

#aboutme {
    margin-top: 150px;
}
