/* General styling */
* {
    font-family: Lato;
    border: 0px solid red;
}

p {
    font-size: 14.5px;
}

.align {
    flex: 1;
}

.page-container {
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
}

.bold-link {
    font-weight: bold;
    text-decoration: none;
    color: #007bff;
}

.link {
    text-decoration: none;
    color: #007bff;
}

/* Intro card styling */
.intro {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.name {
    margin: 0 auto;
    text-align: center;
}

.reference {
    text-align: center;
}

.reference a {
    margin: 0 5px;
    text-decoration: none;
    color: #007bff;
}

.picture {
    max-width: 256px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Projects section */
.projects {
    width: 100%;
    vertical-align: middle;
}

.header {
    font-size: 24px;
}

.project-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 0;
    margin: 0px;
}

.project-image {
    max-width: 256px;
    width: 20%;
    height: auto;
    object-fit: cover;
}

.details p {
    margin: 0;
}

/* Footer */
.footer-container p {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.footer-link {
    margin-left: 4px;
    text-decoration: none;
    color: #007bff;
}
